.carousel{
  
    min-height: 70vh;
    width: 100vw;
}
.carousel-image{
    display:block;
    width:fit-content;
    height:600px;
    width: 100%;
}
.counter{
    font-size: 22px;
    font-weight: 400;
    display: flex;
    justify-content:space-between ;
    margin: 1rem 1rem 0 2rem;
    flex-wrap: wrap;
}
@media only screen and (max-width:1200px) {
    .carousel{
        margin-top: 4rem;
       
        width: 100vw;
    }
    .carousel-image{
        height:300px;
        width: 100%;
    }
    .counter{
        font-size: 18px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        align-content:space-between ;
        margin: 1rem 1rem 0 2rem;
       
    }
}