.main{
    margin-top: 4.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color:green;
    background-image: url('https://res.cloudinary.com/dwnxsji2z/image/upload/v1666096565/website%20files/Disk-2s-1704px_fh9qtg.png');
   
    background-repeat: no-repeat;
    background-size: cover;
}
.address{
    margin: 1rem;
    color: white;
}
.top-social{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    justify-content: space-evenly;
}
.middle{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.social_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width:1200px) {
    .middle{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
    }
    .top-social{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
       
    }
}